		<footer class="footer">
			<div class="row m-0 ">
				<div class="col-md-4 mt-28 pl-0 mb-21">
					<div id="laboratoria-banner"><div class="laboratoria-icon" style="background-image: url(https://cdn.rawgit.com/Laboratoria/Laboratoria.02/master/LaboratoriaBanner/img/laboratoria-icon-black.png)"></div> <div class="laboratoria-label"> <p>Proyecto desarrollado por<br><a href="http://laboratoria.la" target="_blank">laboratoria.la</a></p> </div></div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4 text-muted">
					<div class=" text-right">
						<p>Contribuyente por Respeto</p>
						<p>Av. Victor Andrés Belaunde 177, San Isidro</p>
						<p>01 705 8029</p>
						<p>cpr@gmail.com</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	  	<script src="{site_url}javascripts/laboratoriaBanner.js"></script>
	  	<script src="{site_url}javascripts/classie.js"></script>
	  	<script src="{site_url}javascripts/jquery.flexslider-min.js"></script>
	  	<script>
	  		$(window).load(function() {
				  $('.flexslider').flexslider({
				    animation: "slide",
				    animationLoop: false,
				    itemWidth: 210,
				    itemMargin: 5,
				    minItems: 2,
				    maxItems: 4
				  });
				});
	  	</script>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'controbuyentes';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c7dbed6900f502" async="async"></script>			
	</body>
</html>