		<footer class="footer">
			<div class="row m-0 ">
				<div class="col-md-2">
					<a href=""><img src="http://placehold.it/250x50"></a>
				</div>
				<div class="col-md-6"></div>
				<div class="col-md-4 text-muted">
					<div class=" text-right">
						<p>Contribuyente por Respeto</p>
						<p>Av. Victor Andrés Belaunde 177, San Isidro</p>
						<p>01 705 8029</p>
						<p>cpr@gmail.com</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>