		<footer class="footer">
			<div class="row m-0 ">
				<div class="col-md-4 mt-28 pl-0 mb-21">
					<div id="laboratoria-banner"><div class="laboratoria-icon" style="background-image: url(https://cdn.rawgit.com/Laboratoria/Laboratoria.02/master/LaboratoriaBanner/img/laboratoria-icon-black.png)"></div> <div class="laboratoria-label"> <p>Proyecto desarrollado por<br><a href="http://laboratoria.la" target="_blank">laboratoria.la</a></p> </div></div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4 text-muted">
					<div class="text-right">
						<p class="weight-light">Contribuyentes por Respeto</p>
						<p class="weight-light">Av. Victor Andrés Belaunde 177, San Isidro</p>
						<p class="weight-light">01 705 8029</p>
						<p class="weight-light"><span id="email"></span></p>
					</div>
				</div>
			</div>
		</footer>
			<script src="//use.typekit.net/ixt8tsd.js"></script>
			<script>try{Typekit.load();}catch(e){}</script>
	    <script src="{site_url}javascripts/modernizr.custom.js"></script>		
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		  <script src="{site_url}javascripts/laboratoriaBanner.js"></script>
		  <script src="{site_url}javascripts/classie.js"></script>
			<script src="{site_url}javascripts/app.js"></script>
	  	<script src="{site_url}javascripts/jquery.flexslider-min.js"></script>
			<script>
			  var parts = ["info", "respeto", "pe", "&#46;", "&#64;"];
			  var email = parts[0] + parts[4] + parts[1] + parts[3] + parts[2];
			  document.getElementById("email").innerHTML=email;
			</script>	  	
	  	<script>
	  		$(window).load(function() {
				  $('.flexslider').flexslider({
				    animation: "slide",
				    animationLoop: false,
				    itemWidth: 210,
				    itemMargin: 5,
				    minItems: 2,
				    maxItems: 4
				  });
				});
	  	</script>
			<script type="text/javascript">
			    var disqus_shortname = 'controbuyentes';
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c7dbed6900f502" async="async"></script>		
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-66594288-1', 'auto');
			  ga('send', 'pageview');
			</script>	
	</body>
</html>