<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="shortcut icon" href="{site_url}images/homepage/favicon-contribuyentes.png">
    <link rel="canonical" href="http://respeto.pe/">
    {exp:seo_lite default_title='{embed:titulo}' default_description='{embed:descripcion}' }
    <meta property="og:image" content="{embed:imagen}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="gSXxez-FQdC5htb9XcGPxeUyCxVEQAzbw_z1pwqvj18" />
		<link rel="stylesheet" type="text/css" href="{site_url}stylesheets/main.css">
	</head>
	<body>		
