		<nav class="navbar navbar-custom">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="left hidden-xs ml-63 pull-left mt-14" href="{site_url}"><img src="{site_url}images/homepage/logo-transparente.png" height="70"></a>
		      <a class="left hidden-lg hidden-md hidden-sm logo-navegacion" href="{site_url}"><img src="{site_url}images/homepage/logo-transparente.png"  class="logo-navegacion" width="200"></a>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav mt-21">
		        <li class="bg-header"><a href="{site_url}nosotros" class="weight">Nosotros</a></li>
		        <li><a href="{site_url}investigacion" class="weight">Investigación</a></li>
		        <li><a href="{site_url}novedades" class="weight">Novedades</a></li>
		        <li class="bg-header"><a href="{site_url}#alianzas" class="weight">Alianzas</a></li>
		      </ul>
				</div>
		  </div>
		</nav>	
