		<section id="comparte" class="pb-70">
		  <div class="container">
			<h1 class="section-title text-gray text-center mt-42">Únete en las redes</h1>
		  </div>
		  <div class="container flex-middle">
				<div class="grid-list grid-list-3 grid-list-2-sm grid-list-1-xs" style="padding-left: 80px; padding-right: 80px;">
				  <div class="grid-list-item">
						<a href="https://www.facebook.com/respeto.pe" target="_blank" >
					  	<div class="content-redes">
								<div class="overlay bg-facebook">
									<h3 class="network-name">Facebook</h3>
								</div>
					  	</div>
						</a>
				  </div>
				  <div class="grid-list-item">
				  	<a href="http://www.twitter.com/respeto_pe" target="_blank">
					  	<div class="content-redes">
								<div class="overlay bg-twitter">
									<h3 class="network-name">Twitter</h3>
								</div>
					  	</div>
					  </a>
				  </div>
				  <div class="grid-list-item">
				  	<div class="content-redes">
				  		<a href="http://www.youtube.com/RESPETOpe" target="_blank">
								<div class="overlay bg-youtube">
									<h3 class="network-name">Youtube</h3>
								</div>
							</a>
				  	</div>
				  </div>
				</div>
		  </div>
		</section>