		<section id="comparte" class="bg-gray pb-70">
		  <div class="container">
			<h1 class="section-title text-gray text-center mt-42">Únete en las redes</h1>
		  </div>
		  <div class="container flex-middle">
			<div id="share-grid" class="grid-list grid-list-4 grid-list-2-sm grid-list-1-xs">
			  <a href="https://www.facebook.com/respeto.pe" target="_blank" class="grid-list-item" >
				<h3 class="network-name">Facebook</h3>
				<div class="share-icon"><i class="icon-facebook"></i></div>
				<div class="overlay bg-facebook"></div>
			  </a>
			  <a href="http://www.twitter.com/respeto_pe" target="_blank" class="grid-list-item">
				<h3 class="network-name">Twitter</h3>
				<div class="share-icon"><i class="icon-twitter"></i></div>
				<div class="overlay bg-twitter"></div>
			  </a>
			  <a href="#" class="grid-list-item">
				<h3 class="network-name">Youtube</h3>
				<div class="share-icon"><i class="icon-linkedin"></i></div>
				<div class="overlay bg-youtube"></div>
			  </a>
			</div>
		  </div>
		</section>