{embed="includes/head"}
		{embed="includes/nav"}
		{exp:channel:entries channel="blog" limit="1"}
		<section id="novedades">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-left mb-0">
						<h1 class="ml-14">{title}</h1>
					</div>
				</div>
				<div class="row m-0">
	 				<div class="col-md-10 col-md-offset-1">
 						<div class="pb-28">
	 						<img src="{novedades_imagen}" width="100%">
 						</div>
 						<div class="articulos-contenido">
		  				{novedades_contenido}
 						</div>
						{if novedades_autor!=""}
		  			<p><span>Por:</span> {novedades_autor}</p>
						{/if}
						{if novedades_fuente!=""}
		  			<p><span>Nota:</span> {novedades_fuente}</p>
		  			{/if}
		  			{if video_de_youtube!=""}
		  			<div class="mt-14">
		  				<iframe width="100%;" height="470px" src="https://www.youtube.com/embed/{video_de_youtube}" frameborder="0" allowfullscreen></iframe>
		  			</div>
		  			{/if}
		  			<div class="pt-28">
			  			<h4>Comentarios</h4>
			  			<div id="disqus_thread"></div>
		  			</div>
			  	</div>
				</div>
			</div>
		</section>
		{/exp:channel:entries}
{embed="includes/footer"}