{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center pb-21">
						<h1>Blog</h1>
						<!--<h4 class="text-gray-light weight-light">Entérate de nuestras últimas publicaciones y apariciones en medios:</h4>-->
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="blog" limit="21" dynamic="off"}
	 				<div class="col-md-10 col-md-offset-1">		 				
		 					<div>
		 						<div>
			 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
			  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
			  					<div class="pt-14 pb-21">
				  					<img src="{novedades_imagen}" alt="{title}" width="100%">
			  					</div>
			  					<p class="mb-7 pb-0 text-gray weight-light">
				  					{exp:char_limit total="120" exact="no" strip_tags="yes"}
				  						{novedades_descripcion}
				  					{/exp:char_limit}
				  				</p>
			  					<a href="{site_url}blog/articulo/{url_title}" class="weight-light">Lee más →</a>
				  			</div>
				  		</div>		 				
	 				</div>
	 				{paginate}
	 				<div class="col-md-10 col-md-offset-1">
            <h4 class="text-center pv-14">Páginas {pagination_links}</h4>
	 				</div>
          {/paginate}
	 				{/exp:channel:entries}
				</div>
			</div>
		</section>
{embed="includes/footer"}