{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Costo Beneficio</h2>
						<h4 class="text-gray-light">Cada mes desarrollamos una investigación en la que diagnosticamos un problema de política pública y realizamos propuestas de reforma. Los temas abordados en ediciones pasada han incluido alcohol, regulación de riesgos, transgénicos, pensiones públicas, agua y saneamiento, comisiones bancarias, y control de fusiones.</h4>
						<p>Estos contenidos son distribuidos vía suscripciones, y luego de tres meses son abiertos al público a través desde nuestra web</p>
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="boletin_costo_beneficio" dynamic="off"}
	 				<div class="col-md-4">
		 				<a href="{archivo-boletin-cb}" target="_blank">
		 					<div class="novedades">
		 						<img src="{imagen-boletin-cb}">
		 						<div class="overlay text-muted">
				  					<h4>{title}</h4>
				  					<p>{descripcion-boletin-cb}</p>
				  			</div>
				  		</div>
		 				</a>
	 				</div>
	 				{/exp:channel:entries}
				</div>
			</div>
		</section>
{embed="includes/footer"}