{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-10 col-md-offset-1 text-center">
						<h1>Costo y Beneficio</h1>
						<h4 class="text-gray-light weight-light">Trimestralmente desarrollamos una investigación en la que diagnosticamos un problema de política pública y realizamos propuestas de reforma. Los temas abordados en ediciones pasada han incluido alcohol, regulación de riesgos, transgénicos, pensiones públicas, agua y saneamiento, comisiones bancarias, y control de fusiones.</h4>
						<h4 class="text-gray-light weight-light">Estos contenidos son distribuidos vía suscripciones, y luego de tres meses son abiertos al público a través de nuestra web</h4>
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="boletin_costo_beneficio" dynamic="off" limit="21"}
	 				<div class="col-md-4 mb-35">		 				
		 					<div class="novedades">
			 					{imagen-boletin-cb}
		 							<img src="{image:url:medium}" alt="{title}">
		 						{/imagen-boletin-cb}
		 						<div class="mt-14">
			 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
			  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
			  					<p class="mb-7 pb-0 text-gray weight-light">
				  					{exp:char_limit total="120" exact="no" strip_tags="yes"}
				  						{descripcion-boletin-cb}
				  					{/exp:char_limit}
				  				</p>
			  					<a href="{archivo-boletin-cb}" class="weight-light">Ver PDF →</a>
				  			</div>
				  		</div>		 				
	 				</div>
	 				{paginate}
	 				<div class="col-md-12">
            <h4 class="text-center pv-14">Páginas {pagination_links}</h4>
	 				</div>
          {/paginate}	 				
	 				{/exp:channel:entries}
				</div>
			</div>
		</section>
{embed="includes/footer"}