footer {
	background-color: rgb(53, 49, 49);
	padding: 30px 42px;
	.text-right{
	border-right: 1px solid;
	padding: 0 14px;
	}
	.col-md-2{
	  padding: 3% 0;
	}
	.text-muted{
	  padding-right: 30px;
	}
}