$margins-paddings: ("p": "padding", "m": "margin", "pt": "padding-top", "pb": "padding-bottom", "pl": "padding-left", "pr": "padding-right", "mt": "margin-top", "mb": "margin-bottom", "ml": "margin-left", "mr": "margin-right");
// \\ Negative Margins & Paddings
@each $mp-class, $mp-property in $margins-paddings {
	@for $h from 0 to 11 {
	  .#{$mp-class}-#{$h*7} {
	    #{$mp-property}: rem($h*7)!important;
	    #{$mp-property}: ($h*7) + px !important;
	  }
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.h1 {
  font-size: 2.57143rem; }
  .h1.lead {
    font-size: 45px;
    font-size: 3.21429rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h1.lead {
      font-size: 39px;
      font-size: 2.78571rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h1.lead {
      font-size: 41px;
      font-size: 2.92857rem;
      line-height: 1.2; } }

.h2 {
  font-size: 2.14286rem; }
  .h2.lead {
    font-size: 39px;
    font-size: 2.78571rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h2.lead {
      font-size: 33px;
      font-size: 2.35714rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h2.lead {
      font-size: 35px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.h3 {
  font-size: 1.71429rem;
  line-height: 125%; }
  .h3.lead {
    font-size: 33px;
    font-size: 2.35714rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h3.lead {
      font-size: 27px;
      font-size: 1.92857rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h3.lead {
      font-size: 29px;
      font-size: 2.07143rem;
      line-height: 1.2; } }

.h4 {
  font-size: 1.28571rem; }
  .h4.lead {
    font-size: 27px;
    font-size: 1.92857rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h4.lead {
      font-size: 21px;
      font-size: 1.5rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h4.lead {
      font-size: 23px;
      font-size: 1.64286rem;
      line-height: 1.2; } }

.h5 {
  font-size: 1rem; }
  .h5.lead {
    font-size: 23px;
    font-size: 1.64286rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h5.lead {
      font-size: 17px;
      font-size: 1.21429rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h5.lead {
      font-size: 19px;
      font-size: 1.35714rem;
      line-height: 1.2; } }

.h6 {
  font-size: 0.85714rem; }
  .h6.lead {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .h6.lead {
      font-size: 15px;
      font-size: 1.07143rem;
      line-height: 1.1; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .h6.lead {
      font-size: 17px;
      font-size: 1.21429rem;
      line-height: 1.2; } }