{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h1>Policy Notes</h1>
						<h4 class="text-gray-light weight-light">Documentos en los que proponemos temas para el debate o buscamos poner algún problema de política pública en la agenda.</h4>
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="policy_notes" dynamic="off" limit="21"}
	 				<div class="col-md-4 mb-35">		 				
	 					<div class="novedades">
		 					{imagen_policy}
	 							<img src="{image:url:medium}" alt="{title}">
	 						{/imagen_policy}
	 						<div class="mt-14">
		 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
		  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
		  					<p class="mb-7 pb-0 text-gray weight-light">
			  					{exp:char_limit total="120" exact="no" strip_tags="yes"}
			  						{descripcion_policy}
			  					{/exp:char_limit}
			  				</p>
		  					<a href="{archivo-policy}" class="weight-light">Ver PDF →</a>
			  			</div>
			  		</div>		 				
	 				</div>			 	
	 				{paginate}
	 				<div class="col-md-12">
            <h4 class="text-center pv-14">Páginas {pagination_links}</h4>
	 				</div>
          {/paginate}	 							
		 			{/exp:channel:entries}
				</div>
			</div>
		</section>
{embed="includes/footer"}