{embed="includes/head"}
		{embed="includes/nav"}
		<section class="novedades pt-56 pb-56">
			<div class="container">
				<div class="row pb-35">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="text-center">Gráficos e Infografías</h3>
					</div>
				</div>
				<div class="row posts">
					{exp:channel:entries channel="infografia_imagenes" limit="12" dynamic="off"}
		 				<div class="col-md-4">
			 				<a href="{site_url}graficos-infografias/articulo/{url_title}">
			 					<div class="caricaturas-internas">
			 						<img src="{imagen_caricaturas}" alt="{title}">
			 						<div class="mt-14">
				 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
				  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
				  					<p class="mb-7 pb-0 text-gray weight-light">
					  					{exp:char_limit total="100" exact="no" strip_tags="yes"}
					  						{descripcion_policy}
					  					{/exp:char_limit}
					  				</p>
				  					<p class="weight-light">Ver gráfico →</p>
					  			</div>
					  		</div>
			 				</a>
		 				</div>
	 				{paginate}
	 				<div class="col-md-12">
            <p class="text-center pv-14">Páginas {current_page} - {total_pages} : {pagination_links}</p>
	 				</div>
          {/paginate}
	 				{/exp:channel:entries}
				</div>
			</div>
		</section>			
{embed="includes/footer"}