{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Infografías e Imágenes</h2>
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="infografia_imagenes" limit="12" dynamic="off"}
		 				<div class="col-md-4">
			 				<a href="{site_url}graficos-infografias/articulo/{url_title}" target="_blank">
			 					<div class="caricaturas-internas">
			 						<img src="{imagen_caricaturas}" alt="{title}">
			 						<div class="mt-14">
				 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
				  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
				  					<p class="mb-7 pb-0 text-gray weight-light">
					  					{exp:char_limit total="100" exact="no" strip_tags="yes"}
					  						{descripcion_policy}
					  					{/exp:char_limit}
					  				</p>
				  					<p class="weight-light">Ver gráfico →</p>
					  			</div>
					  		</div>
			 				</a>
		 				</div>
	 				{paginate}
	 				<div class="col-md-12">
            <p class="text-center pv-14">Páginas {current_page} - {total_pages} : {pagination_links}</p>
	 				</div>
          {/paginate}
	 				{/exp:channel:entries}
	 				<div class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							</div>
							<div class="modal-body">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{embed="includes/footer"}