{embed="includes/head"}
		{embed="includes/nav"}
		{exp:channel:entries channel="homepage" limit="1"}
		<section id="portada" style="background-image:url({imgen_hero});" class="hero-unit">
			<div class="text-vertical-center">
		  <h1>{home_titulo_hero}</h1>
					<h4>{home_subttulo_hero}</h4>
		</div>
		</section>
		<section id="nosotros" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-md-8">
						<h2 class="pb-35 text-dark" style="font-size: 26px;">¿Por qué estamos aquí?</h2>
						<h4 class="text-gray">{home_introduccion}</h4>
						<a class="btn btn-nosotros btn-1 btn-1b" href="{site_url}nosotros">conoce más de nosotros</a>
					</div>
				</div>
			</div>
		</section>
		<section id="investigacion" class="pt-35">
			<div class="container-fluid p-0">
				<div class="row m-0 investigacion">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-center pb-42">
						<h2 class="pb-0 text-dark">Investigación</h2>
						<h4 class="text-gray">{home_introduccin_investogacin}</h4>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-md-4 bg-danger text-center" style="height:400px;">
						<h3 class="text-serif">Costo y Beneficio</h3>
						<p class="weight-light">{home_introduccion_costo_benefici}</p>
						<a class="btn btn-investigacion btn-more text-white btn-1 btn-1b" href="{site_url}costo-beneficio">VER MÁS</a>
					</div>
					<div class="col-md-8 p-0">
						<div class="imagen">
							<img src="{home_imagen_costo_beneficio}" alt="{home_introduccion_costo_benefici}">
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-md-8 p-0">
						<div class="imagen">
							<img src="{home_imagen_plaza_bolivar}" alt="{home_introduccin_plaza_bolivar}">
						</div>
					</div>
					<div class="col-md-4 bg-danger text-center" style="height: 400px; background-color: #3ea4a8;">
						<h3 class="text-serif">Policy Notes</h3>
						<p class="weight-light">{home_introduccin_plaza_bolivar}</p>
						<a class="btn btn-investigacion btn-more text-white btn-1 btn-1b" href="{site_url}policy-notes">VER MÁS</a>
					</div>
				</div>
			</div>
		</section>
		<section id="caricaturas">
			<div class="container">
				<div class="row m-0">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2 class="mt-0 pt-0">Caricaturas</h2>
						<h4 class="text-gray-light mb-28">{home_introduccion_caricaturas}</h4>
					</div>
				</div>
				<div class="flexslider">
				  <ul class="slides">
						{embed="includes/caricaturas"}
				  </ul>
				</div>
				<div class="row text-center">
					<a href="{site_url}caricaturas" class="btn btn-custom btn-more btn-1 btn-1b m-0">ver todas</a>
				</div>
			</div>
		</section>
		<section class="novedades-v2">
			<div class="container">
				<div class="row pb-35">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="text-center">Novedades</h3>
						<h4 class="text-gray weight-light text-center">{home_introduccion_novedades}</h4>
					</div>
				</div>
				<div class="row m-0 posts">
					{embed="includes/novedades"}
				</div>
				<a href="{site_url}novedades" class="btn btn-custom btn-more btn-1 btn-1b">ver más</a>
			</div>
		</section>
		<section id="alianzas">
			<div class="container pt-42 pb-42">
				<div class="row m-0">
					<div class="col-xs-1"></div>
					<div class="col-md-10 text-center">
						<h2 class="text-center">Alianzas</h2>
						<h4 class="text-gray-light mt-42 mb-42">{home_introduccion_alianzas}</h4>
					</div>
				</div>
				<div class="alianzas-center" >
					{embed="includes/alianzas"}
				</div>
			</div>
		</section>		
		<section id="noticias" class="bg-danger">
			<div class="container">
				<div class="text-center">
					<h4 class="text-center text-muted" style="margin-bottom: 42px;">Mantente al tanto de nuestras noticias</h4>
				</div>
				<div id="mc_embed_signup" class="col-md-12 text-center">
					<form action="//respeto.us5.list-manage.com/subscribe/post?u=bd14e168fc4251f8652e5069c&amp;id=0efdc295ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll" class="row">
							<div class="mc-field-group col-md-3">
								<label for="mce-EMAIL" class="hidden">Email Address  <span class="asterisk">*</span></label>
								<input type="email" value="" placeholder="Correo Electrónico" name="EMAIL" class="required email" id="mce-EMAIL" style="    width: 100%; padding: 10px 15px; border-radius: 0px; margin-bottom: 14px; background-color: white; border-color: white; border:none;">
							</div>
							<div class="mc-field-group col-md-3">
								<label for="mce-FNAME" class="hidden">First Name </label>
								<input type="text" value="" name="FNAME" placeholder="Nombres:" class="" id="mce-FNAME" style="    width: 100%; padding: 10px 15px; border-radius: 0px; margin-bottom: 14px; background-color: white; border-color: white; border: none;">
							</div>
							<div class="mc-field-group col-md-3">
								<label for="mce-LNAME" class="hidden">Last Name </label>
								<input type="text" value="" name="LNAME" class="" placeholder="Apellidos:" id="mce-LNAME" style="    width: 100%; padding: 10px 15px; border-radius: 0px; margin-bottom: 14px; background-color: white; border-color: white; border: none;">
							</div>
							<div class="mc-field-group col-md-3">   
								<input type="hidden" name="b_bd14e168fc4251f8652e5069c_0efdc295ae" tabindex="-1" value="">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-custom btn-fullwidth">
							</div>
							<div id="mce-responses" class="clear col-md-12">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</section>
		{embed="includes/redsocial"}
		{/exp:channel:entries}
{embed="includes/footer"}		
