{embed="includes/head"}
		{embed="includes/nav"}
		{exp:channel:entries channel="homepage" limit="1"}
		<section id="portada" style="background-image:url({imgen_hero}); background-position-y: 80px;" class="hero-unit">
			<div class="text-vertical-center">
		  <h1>{home_titulo_hero}</h1>
					<h4>{home_subttulo_hero}</h4>
		</div>
		</section>
		<section id="nosotros" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-md-10">
						<h2 class="pb-35 text-dark">¿Por qué estamos aquí?</h2>
						<h4 class="text-gray">{home_introduccion}</h4>
						<a class="btn btn-nosotros btn-1 btn-1b" href="{site_url}nosotros">CONOCE MÁS DE NOSOTROS</a>
					</div>
				</div>
			</div>
		</section>
		<section id="investigacion" class="pt-35">
			<div class="container-fluid p-0">
				<div class="row m-0 investigacion">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-center pb-42">
						<h2 class="pb-0 text-dark">Investigación</h2>
						<h4 class="text-gray">{home_introduccin_investogacin}</h4>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-md-4 bg-danger text-center">
						<h3 class="text-serif">Costo y Beneficio</h3>
						<p class="weight-light">{home_introduccion_costo_benefici}</p>
						<a class="btn btn-investigacion btn-more text-white btn-1 btn-1b" href="{site_url}costo-beneficio">VER MÁS</a>
					</div>
					<div class="col-md-8 p-0">
						<div class="imagen">
							<img src="{home_imagen_costo_beneficio}">
						</div>
					</div>
				</div>
				<!--<div class="row m-0">
					<div class="col-md-8 p-0">
						<div class="imagen">						
							<img src="{home_imagen_plaza_bolivar}">
						</div>
					</div>
					<div class="col-md-4 bg-info text-center text-muted">
						<h3 class="text-serif">Plaza Bolivar</h3>
						<p class="weight-light">{home_introduccin_plaza_bolivar}</p>
						<a class="btn btn-investigacion text-white" href="{site_url}plaza-bolivar">VER MÁS</a>
					</div>
				</div>-->
				</div>
		</section>
		<section id="caricaturas">
			<div class="container">
				<div class="row m-0">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Caricaturas</h2>
						<h4 class="text-gray-light">{home_introduccion_caricaturas}</h4>
					</div>
				</div>
				<div class="flexslider">
				  <ul class="slides">
						{embed="includes/caricaturas"}
				  </ul>
				</div>
			</div>
			<div class="modal">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					</div>
					<div class="modal-body">
						<img src="">
					</div>
				</div>
			</div>
		</section>
		<section id="alianzas">
			<div class="container pt-42 pb-42">
				<div class="row m-0">
					<div class="col-xs-1"></div>
					<div class="col-md-10 text-center">
						<h2 class="text-center">Alianzas</h2>
						<h4 class="text-gray-light mt-42 mb-42">{home_introduccion_alianzas}</h4>
					</div>
				</div>
				<div class="alianzas-center" >
					{embed="includes/alianzas"}
				</div>
			</div>
		</section>
		<section id="novedades" class="text-center">
			<div class="container p-0">
				<div class="row m-0">
					<div class="col-md-8 col-md-offset-2 novedades">
						<h2 class="tex-center">Novedades</h2>
						<h4 class="text-gray-light">{home_introduccion_novedades}</h4>
					</div>
				</div>
				<div class="row m-0 posts">
					{embed="includes/novedades"}
				</div>
				<a href="{site_url}novedades" class="btn btn-custom btn-more btn-1 btn-1b">ver más</a>
			</div>
		</section>
		<section id="noticias" class="bg-danger">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h4 class="text-center text-muted">Mantente al tanto de nuestras noticias</h4>
					</div>
					<div class="col-md-6 col-md-offset-3 mt-14">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="ingresa tu correo electrónico" aria-describedby="basic-addon2">
						  <span class="input-group-addon" id="basic-addon2">SUSCRIBIRSE</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		{embed="includes/redsocial"}
		{/exp:channel:entries}
{embed="includes/footer"}		
