body,
html,
.container-fluid,
.container {
	height: 100%;
}


#portada {
	.botones-portada {
		text-align: center;
		margin-top: 125px;
   	    margin-left: 43%;
    .btn-default{
    background-color: transparent;
    color:white;
    }
   		.btn-fold {
			float: left;
			border-radius: 0;
			border: 1px solid white;
		}
	}
}

#nosotros{
	.text-center{
	  padding: 50px 0;
	    text-align: left;
	}
}


