html,
body{
	height: 100%;
}

a:hover, a:focus {
    text-decoration: none !important;
}

#portada{
	position:absolute;
	top:0px;
	div {
		color:white;
		display: table-cell;
		vertical-align: middle;
		padding-left: 60px;
		background-color: rgba(10, 10, 10, 0.4);
		h1 {
			font-size:42px;
			font-family: $font-family-serif;
			font-weight: 500;
			margin-top:35rem;
		}
		p {
			font-size:18px;
			font-weight: 100;
		}
	}
}



#nosotros {
  background-color: #F7F7F7;
  padding: 130px 0 55px 0;
  h2 {
	  font-family: $font-family-serif;
  }
	h4 {
		line-height: 125%;
		font-weight: 100;
	}
	p {
		color: rgb(160, 158, 158);
		font-size:18px;
		font-weight: 100;
		line-height: 125%;
	}
	.btn-nosotros{
		color: #3ea4a8;
    margin-top: 35px;
    border: 2px solid #3ea4a8;
    border-radius: 0;
    font-size: 16px;
    font-family: "museo-slab";
	}
}

@media only screen and (max-width: 480px) {
	#nosotros{
		  padding: 80px 20px 50px;
		}
	}

@media only screen and (max-width: 480px){
  #alianzas{
      .alianzas-center{
          text-align: center;
      }
  }
}

.investigacion-v2 {
	padding: 56px 0;
	.bg-costo {
		background-color:#e31b13;
		height: 333px;
		padding: 14px;
	}	
	.bg-policy {
		background-color:#3ea4a8;
		height: 333px;
		padding: 14px;
	}
	a {
		border: 1px solid white;
		padding: 7px;
	}
}


#investigacion{

	h2{
	  font-family: $font-family-serif;
    font-size: 35px;
    color: rgb(110, 103, 103);
	}
	.text-center{
	  h2 {
	    margin-bottom: 30px;
	  }
		h4 {
			line-height: 125%;
			font-weight: 100;
		}	  
	  p {
			color: rgb(160, 158, 158);
			font-size:18px;
			font-weight: 100;
			line-height: 125%;
    }
	}
  
  .bg-danger{
    h3{
      margin-top: 40px;
    }
  }


	.bg-danger, .bg-info {
		h3 {
	  font-family: $font-family-serif;
	  color:white;
		}
		p {
			color:white;
			font-size: 14px;
			line-height:125%;
		}
		.btn-investigacion {
	    margin-top: 10px;
	    border-radius: 0;
	    font-family: $font-family-serif;
	    font-size: 14px;
	    font-weight: 300;
	    border:1px solid #FFF;
		}
	}
}

@media only screen and (max-width: 480px) {
	#investigacion{
		.investigacion{
			 padding: 0 20px;
		}
	}
} 

.weight-light {
	  font-weight: 100 !important;
}

.text-serif {
	font-family: $font-family-serif;
}

.imagen{
	height: 400px;
	img{
	width:100%;
	display: block;
	max-width: 100%;
	height: 400px;
	}
}

.bg-danger,
.bg-info{
	padding:3%;
	height: 225px;
	button{
	  color:#FFF;
	  background-color: #3ea4a8;
	  width:100%;
	}
}


#caricaturas{
  padding: 56px 0;
	background-color: #FFF;
	h2{
	   font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	 }
   .text-center{
      padding: 0 40px;
   }
    .carousel-control.right,
    .carousel-control.left {
      border: 2px solid gray;
      width: 3%;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{
      width: 100%;
      height: 300px;
    }
}

@media only screen and (max-width: 480px) {
	#caricaturas {
		padding: 50px 20px;
		}
	}

#alianzas{
	.picture{
		img{
			width: 150px;
			margin: 0 auto;
		}
	}
	h2 {
	   font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
  .text-center{
      padding: 0 40px;
   }
	h3{
  	font-family: $font-family-serif;
	}
	 h4{
       }
       .row{
       		padding-bottom: 14px;
       	
       }
}

@media only screen and (max-width: 480px) {
	#novedades{
		.novedades{
			 padding: 0 20px;
		}
	}
} 


#noticias{
	h4{
	font-family: $font-family-serif;
	font-size: 30px;
	}
	.form-control{
	   padding:21px;
	   font-size: 20px;
     font-weight: 300;
	}
	.input-group-addon{
	background-color:#3ea4a8;
	color: white;
	}
}

@media only screen and (max-width: 480px) {
	#noticias{
		padding: 40px 0;
	}
}

#redes{
h2{
	 font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
       .text-center{
         padding: 50px 0;
       }
	.sociales{
	  height: 250px;
	  padding: 10px 21px;
	  color:white;
  	background-color: lightgray;
	}
	.redessociales{
	  padding: 0 8% 7%;
	  .col-md-4{
	    margin-bottom: 27px;
	  }
	}
}

.text-fold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.4);
}

.text-gray {
	color: #a09e9e;
}

.text-gray-light {
	color:#bbb;
}

.weight {
	font-weight: 300 !important;
}

.text-white {
	color: white !important;
}

/* 

	EBM: Module
	Share grid

*/
.section-title {
  font-family: $font-family-serif;
}


.content-redes{
  height: 280px;
  border: 2px solid #a09e9e;
  padding: 20px;
  position: relative;
  h3{
    color: #a09e9e;
  }
  .network-name{
    position: absolute;
    top: 10px;
    right: 0;
    left: 25px;
    z-index: 2;
  }

  .redes-facebook{
    width: 55px;
    height: 55px;
    background-image: url(../images/homepage/facebook-gris.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 25px;
    right: 35px;
    background-size: cover;
  }

  .redes-twitter{
    width: 55px;
    height: 55px;
    background-image: url(../images/homepage/twitter-gris.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 25px;
    right: 35px;
    background-size: cover;
  }

  .redes-youtube{
    width: 55px;
    height: 55px;
    background-image: url(../images/homepage/youtube-gris.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 25px;
    right: 35px;
    background-size: cover;
  }


  .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:hover{
    .network-name{
      color: white;
    }
    .redes-facebook{
      background-image: url(../images/homepage/facebook-white.png);
    }
    .redes-twitter{
      background-image: url(../images/homepage/twitter-white.png);
    }
    .redes-youtube{
      background-image: url(../images/homepage/youtube-white.png);
    }
  }
}

.content-redes:hover{
  .overlay{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}





#share-grid a {
  padding: 0;
  position: relative;
  display: block;
  height: 244px;
  overflow: hidden;
  border: 2px solid rgba(115, 115, 115, 0.5);
}


#share-grid a:hover{
  .network-name{
    color: white;
  }
}

#share-grid a:hover .overlay, #share-grid a.active .overlay {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  .network-name{
    color: white;
  }
}

@media only screen and (max-width: 480px){
	#share-grid a{
  		margin-left: 0 !important;
  	}
  }

@media only screen and (min-width: 768px) {
  #share-grid a:hover .overlay, #share-grid a.active .overlay {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    .network-name{
      color: white;
    }
  }
}
@media only screen and (max-width: 768px) {
  #share-grid a .overlay {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}



#share-grid .network-name,
#share-grid .share-icon {
  padding: 14px;
  color: rgba(115, 115, 115, 0.5);
  font-size: 24px;
  z-index: 30;
}
#share-grid .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  #share-grid .overlay {
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transform: translateX(-101%);
  }
}
#share-grid .network-name {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#share-grid .share-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}

// GRID LIST

.grid-list {
  padding: 0;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.grid-list:before, .grid-list:after {
  content: " ";
  display: table;
}
.grid-list:after {
  clear: both;
}
.grid-list .grid-list-item,
.grid-list > li {
  float: left;
  padding: 14px;
  padding: 1rem;
}
.grid-list.grid-list-item-height .grid-list-item,
.grid-list.grid-list-item-height > li {
  min-height: 350px;
}
.grid-list.grid-list-1 .grid-list-item,
.grid-list.grid-list-1 > li {
  width: 99.7%;
}
.grid-list.grid-list-2 .grid-list-item,
.grid-list.grid-list-2 > li {
  width: 49.7%;
}
.grid-list.grid-list-3 .grid-list-item,
.grid-list.grid-list-3 > li {
  width: 33.03333%;
}
.grid-list.grid-list-4 .grid-list-item,
.grid-list.grid-list-4 > li {
  width: 24.7%;
}
.grid-list.grid-list-5 .grid-list-item,
.grid-list.grid-list-5 > li {
  width: 19.7%;
}
.grid-list.grid-list-6 .grid-list-item,
.grid-list.grid-list-6 > li {
  width: 16.36667%;
}
.grid-list.grid-list-7 .grid-list-item,
.grid-list.grid-list-7 > li {
  width: 13.98571%;
}
.grid-list.grid-list-8 .grid-list-item,
.grid-list.grid-list-8 > li {
  width: 12.2%;
}
.grid-list.grid-list-9 .grid-list-item,
.grid-list.grid-list-9 > li {
  width: 10.81111%;
}
.grid-list.grid-list-10 .grid-list-item,
.grid-list.grid-list-10 > li {
  width: 9.7%;
}
.grid-list.grid-list-11 .grid-list-item,
.grid-list.grid-list-11 > li {
  width: 8.79091%;
}
.grid-list.grid-list-12 .grid-list-item,
.grid-list.grid-list-12 > li {
  width: 8.03333%;
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-1-xs .grid-list-item,
  .grid-list.grid-list-1-xs > li {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-1-sm .grid-list-item,
  .grid-list.grid-list-1-sm > li {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-1-md .grid-list-item,
  .grid-list.grid-list-1-md > li {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-1-lg .grid-list-item,
  .grid-list.grid-list-1-lg > li {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-2-xs .grid-list-item,
  .grid-list.grid-list-2-xs > li {
    width: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-2-sm .grid-list-item,
  .grid-list.grid-list-2-sm > li {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-2-md .grid-list-item,
  .grid-list.grid-list-2-md > li {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-2-lg .grid-list-item,
  .grid-list.grid-list-2-lg > li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-3-xs .grid-list-item,
  .grid-list.grid-list-3-xs > li {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-3-sm .grid-list-item,
  .grid-list.grid-list-3-sm > li {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-3-md .grid-list-item,
  .grid-list.grid-list-3-md > li {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-3-lg .grid-list-item,
  .grid-list.grid-list-3-lg > li {
    width: 33.33333%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-4-xs .grid-list-item,
  .grid-list.grid-list-4-xs > li {
    width: 25%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-4-sm .grid-list-item,
  .grid-list.grid-list-4-sm > li {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-4-md .grid-list-item,
  .grid-list.grid-list-4-md > li {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-4-lg .grid-list-item,
  .grid-list.grid-list-4-lg > li {
    width: 25%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-5-xs .grid-list-item,
  .grid-list.grid-list-5-xs > li {
    width: 20%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-5-sm .grid-list-item,
  .grid-list.grid-list-5-sm > li {
    width: 20%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-5-md .grid-list-item,
  .grid-list.grid-list-5-md > li {
    width: 20%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-5-lg .grid-list-item,
  .grid-list.grid-list-5-lg > li {
    width: 20%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-6-xs .grid-list-item,
  .grid-list.grid-list-6-xs > li {
    width: 16.66667%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-6-sm .grid-list-item,
  .grid-list.grid-list-6-sm > li {
    width: 16.66667%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-6-md .grid-list-item,
  .grid-list.grid-list-6-md > li {
    width: 16.66667%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-6-lg .grid-list-item,
  .grid-list.grid-list-6-lg > li {
    width: 16.66667%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-7-xs .grid-list-item,
  .grid-list.grid-list-7-xs > li {
    width: 14.28571%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-7-sm .grid-list-item,
  .grid-list.grid-list-7-sm > li {
    width: 14.28571%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-7-md .grid-list-item,
  .grid-list.grid-list-7-md > li {
    width: 14.28571%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-7-lg .grid-list-item,
  .grid-list.grid-list-7-lg > li {
    width: 14.28571%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-8-xs .grid-list-item,
  .grid-list.grid-list-8-xs > li {
    width: 12.5%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-8-sm .grid-list-item,
  .grid-list.grid-list-8-sm > li {
    width: 12.5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-8-md .grid-list-item,
  .grid-list.grid-list-8-md > li {
    width: 12.5%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-8-lg .grid-list-item,
  .grid-list.grid-list-8-lg > li {
    width: 12.5%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-9-xs .grid-list-item,
  .grid-list.grid-list-9-xs > li {
    width: 11.11111%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-9-sm .grid-list-item,
  .grid-list.grid-list-9-sm > li {
    width: 11.11111%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-9-md .grid-list-item,
  .grid-list.grid-list-9-md > li {
    width: 11.11111%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-9-lg .grid-list-item,
  .grid-list.grid-list-9-lg > li {
    width: 11.11111%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-10-xs .grid-list-item,
  .grid-list.grid-list-10-xs > li {
    width: 10%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-10-sm .grid-list-item,
  .grid-list.grid-list-10-sm > li {
    width: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-10-md .grid-list-item,
  .grid-list.grid-list-10-md > li {
    width: 10%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-10-lg .grid-list-item,
  .grid-list.grid-list-10-lg > li {
    width: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-11-xs .grid-list-item,
  .grid-list.grid-list-11-xs > li {
    width: 9.09091%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-11-sm .grid-list-item,
  .grid-list.grid-list-11-sm > li {
    width: 9.09091%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-11-md .grid-list-item,
  .grid-list.grid-list-11-md > li {
    width: 9.09091%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-11-lg .grid-list-item,
  .grid-list.grid-list-11-lg > li {
    width: 9.09091%;
  }
}
@media only screen and (max-width: 480px) {
  .grid-list.grid-list-12-xs .grid-list-item,
  .grid-list.grid-list-12-xs > li {
    width: 8.33333%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .grid-list.grid-list-12-sm .grid-list-item,
  .grid-list.grid-list-12-sm > li {
    width: 8.33333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid-list.grid-list-12-md .grid-list-item,
  .grid-list.grid-list-12-md > li {
    width: 8.33333%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid-list.grid-list-12-lg .grid-list-item,
  .grid-list.grid-list-12-lg > li {
    width: 8.33333%;
  }
}
.grid-list.grid-list-centered {
  text-align: center;
}
.grid-list.grid-list-centered .grid-list-item,
.grid-list.grid-list-centered > li {
  float: none;
  display: inline-block;
}
.grid-list.grid-list-right .grid-list-item,
.grid-list.grid-list-right > li {
  float: right;
}
.grid-list.grid-list-anchors .grid-list-item a,
.grid-list.grid-list-anchors > li a {
  display: block;
}
.grid-list.grid-list-full-width .grid-list-item,
.grid-list.grid-list-full-width > li {
  width: 100%;
}

.bg-gray-light {
  background-color: #eee;
}
