html,
body{
	height: 100%;
}

#portada{
		h1{
		font-size:39px;
		font-family: $font-family-serif;
		}
		p{
		font-size:18px;
		}
	}


#nosotros {
	background-color: #F0F0F0;
    padding-top: 80px;
    padding-bottom: 50px;
	p{
	color: rgb(160, 158, 158);
	font-size:18px;
	}
	.btn-nosotros{
	color: rgb(62, 164, 168);
	border: 2px solid;
	background-color: rgb(238, 238, 238);
	padding: 7px 30px;
	font-size: 21px;
	margin-top: 35px;
	border-radius: 0;
	font-family: font-family-serif;
	}
}

#investigacion{
.row{
	padding-bottom: 3px;
}
	h2{
	 font-family: font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
	}
	.text-center{
	  padding: 50px 0;
	  h2{
	    margin-bottom: 30px;
	  }
	  p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
	}
	.text-muted,{
	  padding: 50px 40px;
	h2{
	  font-family: $font-family-serif;
	  color:white;
	}
	p{
	color:white;
	font-size: 16px;
	}
	button {
    margin-top: 18px;
    border-radius: 0;
    font-family: $font-family-serif;
    font-size: 20px;
    padding: 10px 60px;
	}
	}
}

.imagen{
	height: 400px;
	img{
	width:100%;
	display: block;
	max-width: 100%;
	height: 400px;
	}
}

.bg-danger,
.bg-info{
	padding:3%;
	height: 400px;
	button{
	  margin-top: 35px;
	  background-color: transparent;
	  border: 2px solid white;
	  padding: 10px 30px;
	}
}


#caricaturas{
    padding: 50px 0;
	background-color: $gray-lighter;
	h2{
	font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
}

#alianzas{
	.picture{
		img{
			width: 100px;
			margin: 0 auto;
		}
	}
	h2 {
	 font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	h3{
	color: rgb(150, 146, 146);
	font-family: $font-family-serif;
	}
	 h4{
	    color: rgb(197, 197, 197);
       }
       .row{
       		padding-bottom: 14px;
       	
       }
}

.btn-investigacion {
	margin-top: 18px;
	border-radius: 0;
	font-family: $font-family-serif;
	font-size: 20px;
	padding: 10px 60px;
	border: 1px solid #fff;
}

#noticias{
  padding: 125px 0;
	h4{
	font-family: $font-family-serif;
	font-size: 49px;
	}
	.form-control{
	padding:21px;
	  font-size: 20px;
	}
	.input-group-addon{
	background-color:rgb(4, 120, 232);
	color: white;
	}
}

#redes{
h2{
	 font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
       .text-center{
         padding: 50px 0;
       }
	.sociales{
	  height: 250px;
	  padding: 10px 21px;
	  color:white;
  	background-color: lightgray;
	}
	.redessociales{
	padding: 0 8% 7%;
	.col-md-4{
	  margin-bottom: 27px;
	}
	}
}

.text-fold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.4);
}

.text-gray {
	color: #a09e9e;
}

.text-gray-light {
	color:#c5c5c5;
}