body,
html,
.container-fluid,
.container {
	height: 100%;
}

#portada {
	.botones-portada {
		text-align: center;
		margin-top: 150px;
   	    margin-left: 35%;
    .btn-default{
    background-color: transparent;
      font-size: 25px;
    color:white;
    }
   		.btn-fold {
			float: left;
			border-radius: 0;
			border: 1px solid white;
		}
	}
}

#nosotros {
    padding-top: 80px;
    padding-bottom: 50px;
	p{
	color: rgb(160, 158, 158);
	font-size:18px;
	}
	.btn-custom{
	color: rgb(62, 164, 168);
	border: 2px solid;
	background-color: rgb(238, 238, 238);
	padding: 7px 42px;
	font-size: 21px;
	margin-top: 50px;
	border-radius: 0;
	font-family: serif;
	}
}

