html,
body{
	height: 100%;
}

#seccion2{
	padding: 90px 0 40px;
	.text-center{
	 padding-bottom: 50px;
	}
	h3{
		color: #6e6767;
  	font-family: "museo-slab";
	}
	h4 {
		line-height: 125%;
	}
	.mision{
	  padding-bottom: 14px;
	  width: 35%;
  	  margin: 0 auto;
  	  img{
  	  	width:100%
  	  }
	a{
		h3{
			margin-top: 0;
			color:gray;
			font-family: $font-family-serif;
		}
	}
	}
}

// .col-xs-8{
// 	padding: 3% 0;
// }

#area{
	background-color: #F7F7F7;
	padding: 50px 0;
	.descripcion {
	padding-bottom: 60px;
	}
	.text-center{
	h2{
	font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
       h3{
       font-family:$font-family-serif;
       }
	}
	.trabajo{
	padding-bottom:14px;
	.areastrabajo{
	img{
	width:100%;
	height: 300px;
	}
	}
	}
	.overlay{
		height: 300px;
		border: 1px solid white;
		padding: 21px;
	h3{
	margin-bottom:35px;
	  color: gray;
	}
	}
}

.overlay:hover{
	background-color:#83AAD0;
	border: 1px solid rgb(41, 150, 182);
}

#equipo{
	padding: 42px 0;
	h2{
	font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	.row{
	.col-md-4{
	.text-center{
	  padding: 0 70px;
	  padding-bottom: 35px;
	  img{
	  width:250px;
	  height: 250px;
	  }
	  h4{
	  	font-family: $font-family-serif;
	  }
	  p{
	    font-size: 14px;
	    color: gray;
	    font-weight: 100;
	  }
	}
	}
	}
}

#colaboradores {
		background-color: #F7F7F7;
		padding:70px 0;
	}

#asociados{
	background-color: #FFF;
	h2{
	font-family: $font-family-serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
   .text-center{
     padding-bottom: 50px;
   }
	.colaboradores{
	padding-bottom: 60px;
	}
}
