html,
body{
	height: 100%;
}


#portada{
	.text-vertical-center{
		color:white;
		display: table-cell;
		vertical-align: middle;
		padding-left:63px;
		padding-top: 70px;
		h1{
		font-size:45px;
		font-family: serif;
		}
		p{
		font-size:18px;
		}
	}

}

#seccion2{
	padding: 90px 0 40px;
	.text-center{
	 padding-bottom: 50px;
	}
	p{
	color:gray;
	font-size:18px;
	}
	.mision{
	padding-bottom: 14px;
	a{
	h3{
	margin-top: 0;
	color:gray;
	font-family: serif;
	}
	}
	}
}

.col-xs-8{
	padding: 3% 0;
}

#area{
	background-color: $gray-lighter;
	padding: 50px 0;
	.descripcion {
	padding-bottom: 60px;
	}
	.text-center{
	h2{
	font-family: serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
		p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
       h3{
       font-family:serif;
       }
	}
	.trabajo{
	padding-bottom:14px;
	.areastrabajo{
	img{
	width:100%;
	}
	}
	}
	.overlay{
	padding: 21px;
	border: 1px solid white;
	h3{
	margin-bottom:35px;
	  color: gray;
	}
	}
}

.overlay:hover{
	background-color:#83AAD0;
	border: 1px solid rgb(41, 150, 182);
}

#equipo{
	padding: 42px 0;
	h2{
	font-family: serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	.row{
	.col-md-4{
	.text-center{
	  padding: 0 70px;
	  padding-bottom: 35px;
	  img{
	  width:100%;
	  }
	  h4{
	  color: rgb(12, 199, 207);
	  font-family: serif;
	  font-size: 27px;
	  margin-top: 26px;
	  }
	  p{
	    font-size: 17px;
	    color: gray;
	  }
	}
	}
	}
}

#asociados{
	background-color: lightgray;
	h2{
	font-family: serif;
     font-size: 35px;
     color: rgb(110, 103, 103);
     margin-bottom: 30px;
	}
	p{
	    color: rgb(197, 197, 197);
        font-size: 18px;
       }
       .text-center{
         padding-bottom: 50px;
       }
	.colaboradores{
	padding-bottom: 60px;
	}
}
