body,
html,
.container-fluid,
.container {
	height: 100%;
}

.articulos-contenido {
	p {
		font-size: 16px;
		color:#a09e9e; 
		line-height: 135%;
		font-weight: 100;
		b {
			color:#999;
			font-weight: 100;
		}
	}
}

#novedad{
    padding: 50px 0;
	.container{
	  padding: 0 7%;
  	padding-bottom: 2%;
	}
	.text-center{
		margin-bottom: 50px;
		padding: 0 40px;
	}
	.row{
	  padding-bottom: 14px;
	}
	h3{
		text-align: initial;
		padding: 21px 0;
	}
	.novedades{
		position:relative;
		height: 200px;
		margin-bottom: 14px;
	img{
		width:100%;
		height: 300px;
	}
	.overlay{
		position:absolute;
		top:0;
		width: 100%;
		height: 100%;
		padding: 35px;
		h4,
		p{
			visibility: hidden;
		}
		h4{
			font-family: $font-family-serif;
			margin-bottom: 14px; 
			line-height: 125%;
		}
	}
}
}

.overlay:hover h4,
.overlay:hover p {
	visibility: visible !important;
}

.overlay:hover{
	background-color:rgba(62, 164, 168, 1);
}
