body,
html,
.container-fluid,
.container {
	height: 100%;
}


#novedad{
    padding: 50px 0;
	.container{
	  padding: 0 7%;
  	  padding-bottom: 2%;
	}
	.row{
	  padding-bottom: 14px;
	}
	h3{
	text-align: initial;
	padding: 21px 0;
	}
	.novedades{
	position:relative;
	img{
	width:100%;
	}
	.overlay{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	h4,
	p{
		visibility: hidden;
	}
	}
}
}

.overlay:hover h4,
.overlay:hover p {
	visibility: visible;
}

.overlay:hover{
	background-color:rgb(215, 224, 233);
}
