body,
html,
.container-fluid,
.container {
	height: 100%;
}

.navbar-default{
	position:fixed;
	width:100%;	
	z-index:10;
}

.navbar{
	min-height: 90px;
	margin-bottom:0;
	position:fixed;
	z-index:10;
	background-color:rgba(255, 255, 255, 0.9);
	width:100%;
.navbar-nav{
	float: none;
	text-align: right;
	padding-top:14px;
li{
	float: none;
	display: inline-block;
	font-size:rem(18px);
	font-size:24px;
	padding:0 21px;
	a{
	color:gray;
	}
}
}
}

#portada {
	background-image: url(http://placehold.it/1000x500);
	background-size:cover;
	height:100%;
	width:100%;
	display:table;
	position:relative;
}


#novedades{
	.container{
	  padding: 0 7%;
  	  padding-bottom: 2%;
	}
	h3{
	text-align: initial;
	padding: 21px 0;
	}
	.novedades{
	position:relative;
	img{
	width:100%;
	}
	.overlay{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	h4,
	p{
		visibility: hidden;
	}
	}
}
}

.overlay:hover h4,
.overlay:hover p {
	visibility: visible;
}

.overlay:hover{
	background-color:rgb(215, 224, 233);
}

footer {
	background-color: black;
	padding: 7px 42px;
	.text-right{
	border-right: 1px solid;
	}
	.col-xs-8{
	  padding: 3% 0;
	}
}