{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Resultados de la busqueda</h2>
						<h4 class="text-gray-light light">La palabra(s) que estás buscando es(son) "{exp:search:keywords}"</h4>
					</div>
				</div>
				<div class="row m-0">
					{exp:search:search_results}
	 				<div class="col-md-8 col-md-offset-2 pb-35">
		 				<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
			 			<h4 class="mt-7 mb-7 pb-0">{title}</h4>	
 					  {if novedades_descripcion}
  						<p class="mb-7 pb-0 text-gray weight-light">{novedades_descripcion}</p>
  						<a href="{site_url}novedades/articulo/{url_title}" class="weight-light">Lee más →</a>	
  					{/if}	
  					{if texto_introductorio_costo_benefi}
  						<p class="mb-7 pb-0 text-gray weight-light">{texto_introductorio_costo_benefi}</p>
  						<a href="{archivo-boletin-cb}" class="weight-light">Ver PDF →</a>	
  					{/if}
  					{if descripcion_policy}
  						<p class="mb-7 pb-0 text-gray weight-light">{descripcion_policy}</p>
  						<a href="{site_url}caricaturas/caricatura/{url_title}" class="weight-light">Ver imágen →</a>
  					{/if}  					 					
	 				</div>
			    {paginate}
			    <div class="col-md-6 col-md-offset-3">
			      <h4 class="text-center text-gray-light pv-14 weight-light">Páginas {pagination_links}</h4>
			    </div>
			    {/paginate}
					
					{/exp:search:search_results}
				</div>
			</div>
		</section>
{embed="includes/footer"}