{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Resultados de la busqueda</h2>
						<h4 class="text-gray-light">La palabra(s) que estás buscando es(son) "{exp:search:keywords}"</h4>
					</div>
				</div>
				<div class="row m-0">
					{exp:search:search_results}
	 				<div class="col-md-8 col-md-offset-2">
			 			<h4>{title}</h4>	
 					  {if novedades_descripcion}
  						<p>{novedades_descripcion}</p>
  					{/if}	
  					<a href="{site_url}novedades/articulo/{url_title}">Lee mas ‣</a>	
	 				</div>
			    {paginate}
			    <div class="col-md-6 col-md-offset-3">
			      <p class="text-center pv-14">Page {current_page} of {total_pages} pages {pagination_links}</p>
			    </div>
			    {/paginate}
					
					{/exp:search:search_results}
				</div>
			</div>
		</section>
{embed="includes/footer"}