{embed="includes/head"}
		{embed="includes/nav"}
		<section id="portada">
			<div class="text-vertical-center">
				<h1>Somos Contribuyentes</h1>
				<h4>Como tales, queremos promover que las políticas públicas se traduzcan en mejores servicios a los ciudadanos y en marco regulatorio e institucional que favorezca el crecimiento e inclusión. </h4>
				<p><em>Contribuyentes por Respeto</em> es una organización ciudadana que defiende y promueve el interés público bajo los principios de libertad individual (política y económica), responsabilidad personal, mercados competitivos, y Estado de Derecho, porque estamos convencidos que ésta es la receta que trae mayor bienestar para los peruanos y que ha permitido sacar de la pobreza a casi 8 millones de personas en los últimos años.</p>
			</div>
		</section>
		<section id="seccion2" class="text-center">
			<div class="container-fluid">
				<div class="row m-0">
					<div class="col-md-6 col-md-offset-3 text-center">
						<div class="mision">
							<a href=""><img src="http://placehold.it/100x100"></a>
						</div>
						<h2 class="pb-0">Misión</h2>
						<h4 class="text-gray-light">Un marco regulatorio inclusivo que respete los principios libertad individual (política y económica), responsabilidad personal, mercados competitivos, y Estado de Derecho, promoviendo así una mayor generación de riqueza y movilidad social.</h4>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-md-6 col-md-offset-3 text-center">
						<div class="mision">
							<a href=""><img src="http://placehold.it/100x100"></a>
						</div>
						<h2 class="pb-0">Visión</h2>
						<h4 class="text-gray-light">Promover que las políticas públicas en el Perú se basen en la evidencia y en un adecuado análisis costo-beneficio; debatidas de manera transparente y tomando en cuenta los intereses y opiniones de todos los involucrados.</h4>
					</div>
				</div>
			</div>
		</section>
		<section id="area">
			<div class="container-fluid p-0">
				<div class="row m-0 descripcion">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-center">
						<h2>Área de Trabajo</h2>
						<h4 class="text-gray-light">Nuestras áreas de investigación y difusión son:</h4>
					</div>
				</div>
				<div class="container"> 
					{exp:channel:entries channel="area_de_trabajo" limit="5" dynamic="off"}
					<div class="row m-0 trabajo">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="areastrabajo">
								<img src="{area_imagen}" alt="{title}">
							</div>
						</div>
						<div class="col-md-4 text-center overlay">
							<h3>{title}</h3>
							<p>{area_descripcion}</p>
						</div>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
		</section>
		<section id="equipo">
				<div class="row m-0 pv-35">
						<div class="col-md-8 col-md-offset-2 text-center">			
							<h2 class="text-center">Consejo Directivo</h2>
							<h4 class="text-gray-light">El trabajo de Contribuyentes por Respeto no sería posible sin el siguiente equipo:</h4>
						</div>
				</div>
			<div class="row m-0">
				{exp:channel:entries channel="equipo" limit="6" dynamic="off"}
				<div class="col-md-4">
					<div class="text-center">
						<img src="{equipo_imagen}" alt="{title}">
						<h5 class="mb-0 pb-0">{title}</h5>
						<small>{equipo_cargo}</small>
						<p>{equipo_descripcion}</p>
					</div>
				</div>
				{/exp:channel:entries}
			</div>
		</section>
		<section id="asociados">
			<div class="container">
				<div class="row m-0 pt-35">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2>Colaboradores</h2>
						</div>
				</div>
				<div class="row m-0 colaboradores">
					{exp:channel:entries channel="asociados" limit="20" dynamic="off"}
					<div class="col-md-3">
						<a href="{asociados_link}" target="_blank"><img src="{asociados_imagen}" alt="{title}"></a>
						<h5 class="mb-0 pb-0">{title}</h5>
						<small>{asociados_tipo}</small>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
		</section>
{embed="includes/footer"}