{embed="includes/head"}
		{embed="includes/nav"}
		<section id="portada">
			<div class="text-vertical-center">
				<h3>Somos contribuyentes</h3>
				<p>subtítulo complementario explicando en detalle</p>
			</div>
		</section>
		<section id="seccion2 text-center">
			<div class="container">
				<div class="row m-0">
					<div class="col-xs-2"></div>
					<div class="col-xs-8 text-center">
						<img src="http://placehold.it/100x100">
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-xs-2"></div>
					<div class="col-xs-8 text-center">
						<img src="http://placehold.it/100x100">
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="area">
			<div class="container-fluid p-0">
				<div class="row m-0">
					<div class="col-xs-2"></div>
					<div class="col-xs-8 text-center">
						<h2>Área de Trabajo</h2>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="row m-0 trabajo">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<div class="areastrabajo">
							<img src=" http://placehold.it/300x200">
						</div>
					</div>
					<div class="col-md-4 text-center overlay">
						<h3>Área 1</h3>
						<p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="row m-0 trabajo">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<div class="areastrabajo">
							<img src=" http://placehold.it/300x200">
						</div>
					</div>
					<div class="col-md-4 text-center overlay">
						<h3>Área 2</h3>
						<p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="row m-0 trabajo">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<div class="areastrabajo">
							<img src=" http://placehold.it/300x200">
						</div>
					</div>
					<div class="col-md-4 text-center overlay">
						<h3>Área 3</h3>
						<p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="equipo">
			<h2 class="text-center">Equipo</h2>
			<div class="row m-0">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="text-center">
						<img src=" http://placehold.it/200x200">
						<h4>Juan Castro</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<img src=" http://placehold.it/200x200">
						<h4>Raúl Fuentes</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="asociados">
			<div class="container">
				<div class="row m-0">
						<div class="col-xs-2"></div>
						<div class="col-xs-8 text-center">
							<h2>Asociados</h2>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
				</div>
				<div class="row m-0 colaboradores">
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
					<div class="col-xs-2">
						<img src=" http://placehold.it/150x40">
					</div>
				</div>
			</div>
		</section>
{embed="includes/footer_interna"}