{embed="includes/head"}
		{embed="includes/nav"}
		{exp:channel:entries channel="somos_contribuyentes" limit="1" dynamic="off"}
		<section id="portada" style="background-image:url({imagen_somos_contribuyentes})">
			<div class="text-vertical-center" >
				<h1>Somos Contribuyentes</h1>
				<h4>{contribuyentes_introduccion}</h4>
				<p>{contribuyentes_contenido}</p>
			</div>
		</section>
		<section id="seccion2" class="text-center">
			<div class="container-fluid">
				<div class="row m-0">
					<div class="col-md-6 col-md-offset-3 text-center">
						<div class="mision hidden">
							<a href=""><img src="http://placehold.it/100x100"></a>
						</div>
						<h2 class="pb-0" style="font-family: museo-slab;">Misión</h2>
						<h4 class="text-gray-light">{mision}</h4>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-md-6 col-md-offset-3 text-center">
						<div class="mision hidden">
							<a href=""><img src="http://placehold.it/100x100"></a>
						</div>
						<h2 class="pb-0" style="font-family: museo-slab;">Visión</h2>
						<h4 class="text-gray-light">{vision}</h4>
					</div>
				</div>
			</div>
		</section>
		{/exp:channel:entries}
		<section id="area">
			<div class="container-fluid p-0">
				<div class="row m-0 descripcion">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-center">
						<h2>Áreas de Trabajo</h2>
					</div>
				</div>
				<div class="container"> 
					{exp:channel:entries channel="area_de_trabajo" limit="5" dynamic="off"}
					<div class="row m-0 trabajo">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="areastrabajo">
								<img src="{area_imagen}" alt="{title}">
							</div>
						</div>
						<div class="col-md-4 text-center overlay">
							<h3>{title}</h3>
							<p>{area_descripcion}</p>
						</div>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
		</section>
		<section id="equipo">
				<div class="row m-0 pv-35">
						<div class="col-md-8 col-md-offset-2 text-center">			
							<h2 class="text-center">Consejo Directivo</h2>
							<h4 class="text-gray-light">El trabajo de Contribuyentes por Respeto no sería posible sin el siguiente equipo:</h4>
						</div>
				</div>
			<div class="row m-0">
				{exp:channel:entries channel="equipo" limit="6" dynamic="off"}
				<div class="col-md-4">
					<div class="text-center">
						{if equipo_imagen!=""}
						<img src="{equipo_imagen}" alt="{title}">
						{/if}
						<h5 class="mb-0 pb-0">{title}</h5>
						{if equipo_cargo!=""}
						<small>{equipo_cargo}</small>
						{/if}
						<p>{equipo_descripcion}</p>
					</div>
				</div>
				{/exp:channel:entries}
			</div>
		</section>
		<section id="asociados">
			<div class="container">
				<div class="row m-0 pt-35">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2>Colaboradores</h2>
						</div>
				</div>
				<div class="row m-0 colaboradores">
					{exp:channel:entries channel="colaboradores" limit="20" dynamic="off"}
					<div class="col-md-3 text-center">
						<h5 class="mb-0 pb-0">{title}</h5>
						<p>{colaboradores_contenido}</p>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
		</section>
		<section id="asociados">
			<div class="container">
				<div class="row m-0 pt-35">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2>Asociados</h2>
						</div>
				</div>
				<div class="row m-0 colaboradores">
					<div class="col-md-6 col-md-offset-3 text-center">
						{exp:channel:entries channel="asociados" limit="20" dynamic="off"}
						<div class="pb-21">
							<p>{colaboradores_contenido}</p>
						</div>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
		</section>		
		{embed="includes/redsocial"}
{embed="includes/footer"}