 @charset "utf-8";

 @import "b3/b3";
 @import "views/home";
 @import "views/nosotros";
 @import "views/costoBeneficio";
 @import "views/novedades";
 @import "views/investigacion";
 @import "includes/utilities";
 @import "includes/global";
 @import "includes/nav";
 @import "includes/footer";


