{embed="includes/head"}
		{embed="includes/nav"}
		{exp:channel:entries channel="investigacion" limit="1"}
		<section id="portada" style="background-image:url({investigacion_fondo})">
			<div class="botones-portada">
			  <a href="{site_url}investigacion#articulos" class="btn btn-default btn-fold">Artículos</a>
			  <a href="{site_url}investigacion#costos" class="btn btn-default btn-fold">Costo y Beneficio</a>
			  <a href="{site_url}investigacion#cpolicy-notes" class="btn btn-default btn-fold">Policy Notes</a>
			</div>
		</section>
		{/exp:channel:entries}
		<section id="nosotros" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-md-10">
						<h3 class="text-gray">Encuentra aquí nuestros análisis y propuestas sobre diversos problemas de políticas públicas</h3>
						<!--<button class="btn btn-custom btn-vista-investigacion">ver más</button>-->
					</div>
				</div>
			</div>
		</section>
		
		<section id="novedad" class="text-center">
			
			<div class="container p-0">
				<div id="costos"></div>
				<h2 class="mb-35">Costo y Beneficio</h2>
				<div class="row m-0 posts">
					{exp:channel:entries channel="boletin_costo_beneficio" limit="3" dynamic="off"}
	 				<div class="col-md-4">
		 				<a href="{archivo-boletin-cb}" target="_blank">
		 					<div class="novedades">
		 						<img src="{imagen-boletin-cb}">
		 						<div class="overlay text-muted">
				  					<h4>{title}</h4>
				  					<p>{descripcion-boletin-cb}</p>
				  					<p>Ver PDF →</p>
				  			</div>
				  		</div>
		 				</a>
	 				</div>
	 				{/exp:channel:entries}
	 				<a href="{site_url}/costo-beneficio" class="btn btn-custom">ver más</a>
				</div>
				<div id="articulos"></div>
				<h2 class="mt-42 mb-35">Artículos</h2>
				<div  class="row m-0">
					{exp:channel:entries channel="novedades" limit="3" dynamic="off"}
	 				<div class="col-md-4">
		 				<a href="{site_url}/novedades/articulo/{url_title}">
		 					<div class="novedades">
		 						<img src="{novedades_imagen}">
		 						<div class="overlay text-muted">
				  					<h4>{title}</h4>
				  					<p>{novedades_descripcion}</p>
				  			</div>
				  		</div>
		 				</a>
	 				</div>
	 				{/exp:channel:entries}
				</div>
				<a href="{site_url}/novedades" class="btn btn-custom">ver más</a>

				<div id="policy-notes"></div>
				<h2 class="mb-35">Policy Notes</h2>
				<div class="row m-0 posts">
					{exp:channel:entries channel="policy-notes" limit="3" dynamic="off"}
	 				<div class="col-md-4">
		 				<a href="{archivo-policy}" target="_blank">
		 					<div class="novedades">
		 						<img src="{imagen-policy}">
		 						<div class="overlay text-muted">
				  					<h4>{title}</h4>
				  					<p>{descripcion-policy}</p>
				  					<p>Ver PDF →</p>
				  			</div>
				  		</div>
		 				</a>
	 				</div>
	 				{/exp:channel:entries}
	 				<a href="{site_url}/costo-beneficio" class="btn btn-custom">ver más</a>
				</div>


			</div>
		</section>
{embed="includes/footer"}