{embed="includes/head"}
		{embed="includes/nav"}
		{!--exp:channel:entries channel="investigacion" limit="1"--}
		<!--<section id="portada" style="background-image:url({investigacion_fondo})">
			<div class="botones-portada">
			  <a href="{site_url}investigacion#costos" class="btn btn-default btn-fold">Costo y Beneficio</a>
			  <a href="{site_url}investigacion#policy-notes" class="btn btn-default btn-fold">Policy Notes</a>
			</div>
		</section>-->
		{!--/exp:channel:entries--}
		<section id="nosotros" class="text-center pt-70">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="text-gray weight-light pt-70 mb-21">Encuentra aquí nuestros análisis y propuestas sobre diversos problemas de políticas públicas</h3>
						<h4><a href="{site_url}investigacion#costos">Costo y Beneficio</a> | <a href="{site_url}investigacion#policy-notes">Policy Notes</a></h4>
					</div>
				</div>
			</div>
		</section>
		<section id="novedad" class="text-center">
			<div class="container pb-35">
				<div id="costos"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3">
						<p class="mb-21 h2">Costo y Beneficio</p>
					</div>
					{exp:channel:entries channel="boletin_costo_beneficio" limit="3" dynamic="off"}
	 				<div class="col-md-4">
		 				<a href="{archivo-boletin-cb}" target="_blank">
		 					<div class="novedades">
		 						<img src="{imagen-boletin-cb}">
		 						<div class="overlay text-muted">
				  					<h4 class="weight-light">{title}</h4>
				  					{if descripcion-boletin-cb}
				  						<p class="weight-light">{descripcion-boletin-cb}</p>
				  					{if:else}
				  						<p class="weight-light">Esta ilustración está disponible en formato PDF.</p>
				  					{/if}
				  					<p><small>Bajar archivo →</small></p>
				  			</div>
				  		</div>
		 				</a>
	 				</div>
	 				{/exp:channel:entries}
				</div>
	 			<a href="{site_url}costo-beneficio" class="btn btn-custom btn-more btn-1 btn-1b">ver más</a>
			</div>
			<div class="container pt-35">
				<div id="policy-notes"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3">
						<p class="mb-21 h2">Policy Notes</p>
					</div>					
					{exp:channel:entries channel="policy_notes" dynamic="off"}
		 				<div class="col-md-4">
			 				<a href="{archivo-policy}" target="_blank">
			 					<div class="novedades">
			 						<img src="{imagen_policy}">
			 						<div class="overlay text-muted">
					  					<h4 class="weight-light">{title}</h4>
					  					{if descripcion_policy}
					  						<p class="weight-light">{descripcion_policy}</p>
					  					{if:else}
					  						<p class="weight-light">Esta ilustración está disponible en formato PDF.</p>
					  					{/if}					  					
					  			</div>
					  		</div>
			 				</a>
		 				</div>
		 			{/exp:channel:entries}
				</div>
	 			<a href="{site_url}policy-notes" class="btn btn-custom btn-more btn-1 btn-1b">ver más</a>
			</div>
		</section>
{embed="includes/footer"}