{embed="includes/head"}
		{embed="includes/nav"}
		<section id="nosotros" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>Investigación</h1>
						<h3 class="text-gray weight-light mb-21">Encuentra aquí nuestros análisis y propuestas sobre diversos problemas de políticas públicas</h3>
						<h4><a href="{site_url}investigacion#costos" class="text-gray-dark">Costo y Beneficio</a> | <a href="{site_url}investigacion#policy-notes" class="text-gray-dark">Policy Notes</a></h4>
					</div>
				</div>
			</div>
		</section>
		<section id="novedad">
			<div class="container pb-35">
				<div id="costos"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="mb-21 h2">Costo y Beneficio</p>
					</div>
					{exp:channel:entries channel="boletin_costo_beneficio" dynamic="off" limit="3"}
	 				<div class="col-md-4 mb-35">		 				
		 					<div class="novedades">
			 					{imagen-boletin-cb}
		 							<img src="{image:url:medium}" alt="{title}">
		 						{/imagen-boletin-cb}
		 						<div class="mt-14">
			 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
			  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
			  					<p class="mb-7 pb-0 text-gray weight-light">
				  					{exp:char_limit total="100" exact="no" strip_tags="yes"}
				  						{descripcion-boletin-cb}
				  					{/exp:char_limit}
				  				</p>
			  					<a href="{archivo-boletin-cb}" class="weight-light">Ver PDF →</a>
				  			</div>
				  		</div>		 				
	 				</div>			
	 				{/exp:channel:entries}
				</div>
				<div class="text-center">
	 				<a href="{site_url}costo-beneficio" class="btn btn-custom btn-more btn-1 btn-1b">ver todos</a>
				</div>
			</div>
			<div class="container pt-35">
				<div id="policy-notes"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="mb-21 h2">Policy Notes</p>
					</div>					
					{exp:channel:entries channel="policy_notes" dynamic="off" limit="3"}
	 				<div class="col-md-4 mb-35">		 				
	 					<div class="novedades">
		 					{imagen_policy}
	 							<img src="{image:url:medium}" alt="{title}">
	 						{/imagen_policy}
	 						<div class="mt-14">
		 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
		  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
		  					<p class="mb-7 pb-0 text-gray weight-light">
			  					{exp:char_limit total="100" exact="no" strip_tags="yes"}
			  						{descripcion_policy}
			  					{/exp:char_limit}
			  				</p>
		  					<a href="{archivo-policy}" class="weight-light">Ver PDF →</a>
			  			</div>
			  		</div>		 				
	 				</div>			 				
		 			{/exp:channel:entries}
				</div>
				<div class="text-center mt-56">				
	 				<a href="{site_url}policy-notes" class="btn btn-custom btn-more btn-1 btn-1b">ver todos</a>
				</div>
			</div>
			<div class="container pt-35">
				<div id="info"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="mb-21 h2">Gráficos e Infografías</p>
					</div>					
					{exp:channel:entries channel="infografia_imagenes" dynamic="off" limit="3"}
		 				<div class="col-md-4">
			 				<a href="{site_url}infografias-imagenes/articulo/articulo/{url_title}" target="_blank">
			 					<div class="novedades">
			 						<img src="{imagen_caricaturas}" alt="{title}">
			 						<div class="overlay text-muted">
					  				<h4 class="weight-light">{title}</h4>			  					
					  			</div>
					  		</div>
			 				</a>
		 				</div>
		 			{/exp:channel:entries}
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">				
	 				<a href="{site_url}infografias-imagenes" class="btn btn-custom btn-more btn-1 btn-1b">ver todas</a>
				</div>
			</div>			
		</section>
{embed="includes/footer"}