{embed="includes/head"}
		{embed="includes/nav"}
		<section id="nosotros" class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>Novedades</h1>
						<h3 class="text-gray weight-light mb-21">Encuentra aquí nuestros análisis y propuestas sobre diversos problemas de políticas públicas</h3>
						<h4><a href="{site_url}publicaciones#novedades" class="text-gray-dark">Novedades</a> | <a href="{site_url}publicaciones#info" class="text-gray-dark">Infografía e Imágenes</a></h4>
					</div>
				</div>
			</div>
		</section>
		<section id="novedad">
			<div class="container pb-35">
				<div id="novedades"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="mb-21 h2">Novedades</p>
					</div>
					{exp:channel:entries channel="novedades" limit="3" dynamic="off"}
	 				<div class="col-md-4">		 				
		 					<div class="novedades">
		 						<div>
			 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
			  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
			  					<p class="mb-7 pb-0 text-gray weight-light">
				  					{exp:char_limit total="120" exact="no" strip_tags="yes"}
				  						{novedades_descripcion}
				  					{/exp:char_limit}
				  				</p>
			  					<a href="{site_url}novedades/articulo/{url_title}" class="weight-light">Lee más →</a>
				  			</div>
				  		</div>		 				
	 				</div>
	 				{/exp:channel:entries}
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
	 				<a href="{site_url}novedades" class="btn btn-custom btn-more btn-1 btn-1b">ver todas</a>
				</div>
			</div>
			<div class="container pt-35">
				<div id="info"></div>
				<div class="row m-0 posts">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="mb-21 h2">Infografías e Imágenes</p>
					</div>					
					{exp:channel:entries channel="infografia_imagenes" dynamic="off" limit="3"}
		 				<div class="col-md-4">
			 				<a href="{site_url}infografias-imagenes/articulo/articulo/{url_title}" target="_blank">
			 					<div class="novedades">
			 						<img src="{imagen_caricaturas}" alt="{title}">
			 						<div class="overlay text-muted">
					  				<h4 class="weight-light">{title}</h4>			  					
					  			</div>
					  		</div>
			 				</a>
		 				</div>
		 			{/exp:channel:entries}
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">				
	 				<a href="{site_url}infografias-imagenes" class="btn btn-custom btn-more btn-1 btn-1b">ver todas</a>
				</div>
			</div>
		</section>
{embed="includes/footer"}