{exp:channel:entries channel="caricaturas" limit="1"}
{embed="includes/head" titulo="{title}"}
		{embed="includes/nav"}		
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-left mb-0">
						<h1 class="ml-14">{title}</h1>
					</div>
				</div>
				<div class="row m-0">
	 				<div class="col-md-10 col-md-offset-1">
 						<div class="pb-28">
	 						<img src="{imagen_caricaturas}" alt="{title}" width="100%">
 						</div>
						{if caricaturas_tags}
							<h4 class="pt-7 mb-0 pb-0">Tags:</h4>
			  			<p>{caricaturas_tags}</p>							
						{/if} 						
		  			<div class="pt-28">
			  			<h4>Comentarios</h4>
			  			<div id="disqus_thread"></div>
		  			</div>
			  	</div>
				</div>
			</div>
		</section>
{/exp:channel:entries}
{embed="includes/footer"}
