{embed="includes/head"}
		{embed="includes/nav"}
		<section id="novedad">
			<div class="container">
				<div class="row mt-70">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<h2>Caricaturas</h2>
					</div>
				</div>
				<div class="row m-0">
					{exp:channel:entries channel="caricatura_nueva" limit="21" dynamic="off"}
	 				<div class="col-md-4 mb-35">		 				
	 					<div class="caricaturas-internas">
		 					{if imagen_caricaturas}
				  		<img src="{imagen_caricaturas}" alt="{title}"/>
				  		{if:else}
				  		<img src="{url_caricatura}" alt="{title}"/>
				  		{/if}
	 						<div class="mt-14">
		 						<small class="text-gray weight">{entry_date format="%d/%m/%Y"}</small>
		  					<h4 class="mt-7 mb-7 pb-0">{title}</h4>
		  					<p class="mb-7 pb-0 text-gray weight-light">
			  					{exp:char_limit total="100" exact="no" strip_tags="yes"}
			  						{descripcion_policy}
			  					{/exp:char_limit}
			  				</p>
		  					<a href="{site_url}caricaturas/caricatura/{url_title}" class="weight-light">Ver caricatura →</a>
			  			</div>
			  		</div>		 				
	 				</div>			 				
	 				{paginate}
            <p class="text-center pv-14">Páginas {total_pages} : {pagination_links}</p>
          {/paginate}
	 				{/exp:channel:entries}
	 				<div class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							</div>
							<div class="modal-body">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{embed="includes/footer"}